#page-orphanages {
  width: 100%;
  height: 100%;
  display: flex;
}

aside {
  width: clamp(24rem, 25vw, 44rem);
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside h2 {
  margin-top: 4.4rem;
  font: 800 3rem/1.1 "Nunito", sans-serif;
}

aside p {
  margin-top: 1.4rem;
  font: 400 1.6/1.5 "Nunito", sans-serif;
}

aside footer p {
  margin-top: 0.4rem;
}

div#mapid {
  width: 100%;
  height: 100%;
  animation-delay: 200ms;
}

a.create-orphanage {
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  width: 3.4rem;
  height: 3.4rem;
  background: #15c3d6;
  border: 0;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
  z-index: 10;
}

a.create-orphanage:hover {
  background: #17d6eb;
}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.leaflet-popup-content {
  color: #0089a5;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.8rem 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaflet-popup-content a {
  width: 2rem;
  height: 2rem;
  background: #15c3d6;
  box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 2s;
}

.leaflet-popup-content a:hover {
  background: #17d6eb;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-container {
  font: 800 2rem/1 "Nunito", sans-serif;
  z-index: 5;
}
